* {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    padding-right: 15px;
}

li {
    border-left: 1px solid #bbb;
}

li a {
    display: flex;
    color: white;
    padding: 14px 16px;
}

li:hover {
    background-color: gray;
}

.logo {
    position: relative;
    padding: 0px 15px;
    width: 300px;
    display: block;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
}
.logo span{
    font-size: 22px;
    border-left: 3px double #faf3f3;
    border-bottom: 3px groove #ffffff;
    border-radius: 20%;
    padding-left: 3px;
}
.full-name {
   opacity: 0;
   font-size: 22px;
   position: absolute;
   top: 0;
   left: 20px;
   transition: all 400ms ease-out;
   text-align: center;
}
.logo .full-name:hover {
    opacity:1;
}
